.form input{
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
    border: 1px solid rgba(212, 58, 11, 0.794);
}
.card-container{
    border: 1px solid rgb(177, 46, 46);
}